*.class
*.war
*.ear
*.html
nbproject/private/
build/
dist/JDBC.jar
/WebApp/nbproject/private/
*.cache
WebApplication1/WebApplication1/Web.config
WebApplication1/WebApplication1/obj/Debug/WebApplication1.dll
WebApplication1/WebApplication1/obj/Debug/WebApplication1.pdb
WebApplication1/WebApplication1/obj/Debug/WebApplication1.dll
WebApplication1/WebApplication1/obj/Debug/WebApplication1.csproj.FileListAbsolute.txt
*.cache
WebApplication1/WebApplication1/bin/WebApplication1.pdb
WebApplication1/WebApplication1/bin/WebApplication1.dll